<div id="create-account">
    <p>Create a new account:</p>
    <br>
    <div class="form-check">
        <input class="form-check-input" value ="Checking" type="radio" [(ngModel)] = 'account.accountType'>
        <label class="form-check-output" for ="Checking">Checking</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" value ="Savings" type="radio" [(ngModel)] = 'account.accountType'>
        <label class="form-check-output" for ="Savings">Savings</label>
    </div>
    <br>
    <button class="btn btn-success" (click) = 'createAccount()'>Create Account</button>
    <br>
    <hr>
    <br>
    <div>
        <app-account-form></app-account-form>
    </div>
</div>
