<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
    <div class="wrapper">
        <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption" style="color:whitesmoke;">
        <h3>Stay Secure with our Advanced Encryption</h3>
        <p>We take your security seriously. That's why we use advanced encryption technologies to protect your sensitive information from unauthorized access.</p>
    </div>
    </ng-template>
    <ng-template ngbSlide>
    <div class="wrapper" style="color:gold;">
        <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption" style="color:gold;">
        <h3>Get Rewarded for Banking with Us</h3>
        <p>Earn rewards just for using your account. From cashback offers to exclusive discounts, we offer a range of rewards to show our appreciation.</p>
    </div>
    </ng-template>
    <ng-template ngbSlide>
    <div class="wrapper">
        <img [src]="images[2]"  alt="Random third slide">
    </div>
    <div class="carousel-caption" style="color:white;">
        <h3>Experience the Convenience of Mobile Banking</h3>
        <p>With our mobile banking app, you can manage your accounts on-the-go. Check your balance, transfer funds, pay bills, and more.</p>
    </div>

    </ng-template>
</ngb-carousel>
