<nav id="navbar" class="navbar navbar-dark bg-dark navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
    <app-bank-logo class="navbar-brand" id="app-bank-logo"></app-bank-logo>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a 
                class="nav-link "
                [class.active]="navbarService.selectedMenuItem == 'home'"
                [attr.aria-current]="selected == 'home'" 
                (click)="setSelected('home')"
                routerLink = "home">
                Home
            </a>
          </li>
          <li *ngIf="userService.loggedIn" class="nav-item">
            <a 
                class="nav-link"
                [class.active]="navbarService.selectedMenuItem == 'account'"
                [attr.aria-current]="selected == 'account'" 
                (click)="setSelected('account')"
                routerLink = "account">
                Account
            </a>
          </li>
          <li *ngIf="userService.loggedIn" class="nav-item">
            <a 
                class="nav-link" 
                [class.active]="navbarService.selectedMenuItem == 'transaction'"
                [attr.aria-current]="selected == 'transaction'" 
                (click)="setSelected('transaction')"
                routerLink = "transaction">
                Transactions
            </a>
          </li>
          <li *ngIf="userService.loggedIn" class="nav-item">
            <a 
                class="nav-link" 
                [class.active]="navbarService.selectedMenuItem == 'user'"
                [attr.aria-current]="selected == 'user'" 
                (click)="setSelected('user')"
                routerLink = "user">
                User
            </a>
          </li>
          <li [ngSwitch]="userService.loggedIn" class="nav-item">
            <a *ngSwitchCase="false" 
                class="nav-link" 
                [class.active]="navbarService.selectedMenuItem == 'login'"
                [attr.aria-current]="selected == 'login'"
                (click)="setSelected('login')"
                routerLink = "login">
                Login
            </a>
            <a *ngSwitchCase="true" 
                class="nav-link" 
                [class.active]="navbarService.selectedMenuItem == 'login'"
                [attr.aria-current]="selected == 'login'"
                (click)="setSelected('login'); loginService.logout()">
                Logout
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<!-- <p>navbar works!</p> -->