
    <div>
        <section>
            <h3>Enter Deposit</h3>
            <form>
                <div>
                    <label for="mySelect">Select Account</label>
                    <select 
                        id="mySelect" 
                        (change)="onSelect($event)"
                        >
                        <option>--- Select an account --- </option>
                        <option 
                            *ngFor="let account of this.accountService.accounts" 
                            value={{account.accountId}}

                            >
                            Account # {{account.accountId}} - {{account.accountType}} : Balance {{account.balance | currency}}
                        </option>
                    </select>
                </div>

                <div *ngIf="showInputBox">
                    <label for="input-amount" class="col-12">Input Amount:</label>
                    <input  
                        [ngModelOptions]="{standalone: true}"
                        id="input-amount" 
                        type = "number" 
                        min="0" 
                        value="0.00" 
                        [(ngModel)]="transaction.amount">
                </div>

                <div>
                    <button type="button" class="btn btn-primary" (click)="postDeposit()" >Deposit</button>
                </div>
            </form>

            <p id="message">{{buttonClickMessage}}</p>
            <p id="last-deposit">{{this.transactionService.lastDeposit == undefined ? "" : this.transactionService.lastDeposit | currency}}</p>    

        </section>
    </div>
    

