
    <div>
        <label class="col-12">Input Amount:</label>
        <input  type = "number" min="0" value="0.00" [(ngModel)]="transaction.amount">
        <p style="margin-left: 25px;"></p>
        <button class="btn btn-primary" (click)="postDeposit()" >Deposit
        </button>
        <p>{{buttonClickMessage}}</p>
        <p>{{this.transactionService.lastDeposit == undefined ? "" : this.transactionService.lastDeposit | currency}}</p>

        <br/>
        <p style="margin-left: 2px">Select Account</p>
        <div class="col" *ngFor="let account of this.accountService.accounts">
            <div class="form-check">
                <input class="form-check-input" name="to" type="radio" (click)="setTo(account)">
                <label class="form-check-output">Account # {{account.accountId}} - {{account.accountType}} Account : ${{account.balance}}</label>
            </div>
        </div>
    </div>
    

