<p>user-form works!</p>
<form>
    Username: <br>
    <input type="text" [(ngModel)]='username'>
    <br>
    Password: <br>
    <input type="password" [(ngModel)]='password'>
    <br>
    First Name: <br>
    <input type="text" [(ngModel)]='firstName'>
    <br>
    Last Name: <br>
    <input type="text" [(ngModel)]='lastName'>
    <br>
    Address: <br>
    <input type="text" [(ngModel)]='address'>
    <br>
    Mobile Phone: <br>
    <input type="tel" [(ngModel)]='phone'>
    <br>
    Email: <br>
    <input type="email" [(ngModel)]='email'>
    <br><br>
    <button (click) = 'createUser()'>Submit</button>
</form>