<div class="row">
    <div class="card-container promo-box  px-4 col-md-4">
        <div class="card">
            <div class="card-header">
                <p>Classic</p>
              </div>
            <img class="card-img-top" src="assets/img/barp_bank_card_classic.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    Get started on your credit journey with our entry-level credit card. 
                    Build credit and enjoy easy access to credit when you need it. 
                    <a href="/home">Apply now!</a>
                </p>
            </div>
        </div>
    </div>
    <div class="card-container promo-box  px-4 col-md-4">
        <div class="card">
            <div class="card-header">
                <p>Gold</p>
              </div>
            <img class="card-img-top" src="assets/img/barp_bank_card_gold.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    Elevate your credit game with our Gold Edition. 
                    Enjoy higher credit limits, more rewards, and exclusive benefits. 
                    Plus, with our top-notch security features, you can shop with confidence. 
                    <a href="/home">Apply now!</a>
                </p>
            </div>
        </div>
    </div>
    <div class="card-container promo-box  px-4 col-md-4">
        <div class="card" >
            <div class="card-header">
                <p>Platinum</p>
              </div>
            <img class="card-img-top" src="assets/img/barp_bank_card_platinum.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">
                    Experience the ultimate in credit luxury with our Platinum credit card. 
                    Enjoy unparalleled rewards, exclusive perks, and concierge service that anticipates your every need. 
                    <a href="/home">Apply now!</a>
            </div>
        </div>
    </div>
</div>