<div>
    <label class="col-12">Input Amount:</label>
    <input type = "number" min="0" value="" [(ngModel)]="transaction.amount">
    <p style="margin-left: 25px;"></p>
    <button class="btn btn-primary" (click) = "thanksMessage()" (click)="postWithdraw()" >Withdrawal
    </button>
    <p>{{buttonClickMessage}}</p>
    <p>$ {{this.transactionService.transactions[0] == undefined ? 0.00 : this.transactionService.transactions[0].settledBalance}}</p>

    <div class="col" *ngFor="let account of this.accountService.accounts">
        <div class="form-check">
            <input class="form-check-input" name="to" type="radio" (click)="setFrom(account)">
            <label class="form-check-output">Account # {{account.accountId}} - {{account.accountType}} Account : ${{account.balance}}</label>
        </div>
    </div>
</div>




