<h2>Your Details:</h2>
<div>
    <app-user-form [user] = 'newUser'></app-user-form>
</div>
<ngb-alert *ngIf="show">{{ message }}</ngb-alert>
<form class="col-sm-4" *ngIf="show2">
    <h2>User Registeration</h2> <br>
    Username: <br>
    <input type="text" class="form-control" [(ngModel)]='user.username' [ngModelOptions]="{standalone: true}">
    <br>
    Password: <br>
    <input type="password" class="form-control" [(ngModel)]='user.password' [ngModelOptions]="{standalone: true}">
    <br>
    Address: <br>
    <input type="text" class="form-control" [(ngModel)]='user.streetAddress1' [ngModelOptions]="{standalone: true}">
    <br>
    Mobile Phone: <br>
    <input type="tel" class="form-control" [(ngModel)]='user.phoneNumber' [ngModelOptions]="{standalone: true}">
    <br>
    Email: <br>
    <input type="email" class="form-control" [(ngModel)]='user.email' [ngModelOptions]="{standalone: true}">
    <br>
    <button type="button" class="btn btn-primary" (click) = 'createUser()'>Submit</button>
</form>