<p>create-user works!</p>
<form>
    Username: <br>
    <input type="text" [(ngModel)]='username' [ngModelOptions]="{standalone: true}">
    <br>
    Password: <br>
    <input type="password" [(ngModel)]='password' [ngModelOptions]="{standalone: true}">
    <br>
    First Name: <br>
    <input type="text" [(ngModel)]='firstName' [ngModelOptions]="{standalone: true}">
    <br>
    Last Name: <br>
    <input type="text" [(ngModel)]='lastName' [ngModelOptions]="{standalone: true}">
    <br>
    Address: <br>
    <input type="text" [(ngModel)]='address' [ngModelOptions]="{standalone: true}">
    <br>
    Mobile Phone: <br>
    <input type="tel" [(ngModel)]='phone' [ngModelOptions]="{standalone: true}">
    <br>
    Email: <br>
    <input type="email" [(ngModel)]='email' [ngModelOptions]="{standalone: true}">
    <br><br>
    <button (click) = 'createUser()'>Submit</button>
    <!--when you push on submit, there maybe a functionality where it redirects the user to a user page with their updated information?-->
</form>